/* Estilos Globales */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #1E1F28;
    color: white;
    padding: 20px 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0 0;
}

nav li {
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #f39c12;
}

/* Sección de Filtros */
#filters {
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#filters h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    color: #333;
}

#filters form {
    display: flex;
    flex-direction: column;
}

#filters form label {
    margin: 5px 0;
    font-size: 1rem;
}

#filters form select,
#filters form input {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#filters form button {
    background-color: #ff6600;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#filters form button:hover {
    background-color: #e65c00;
}

/* Sección de Lista de Animes */
#calificaciones {
    padding: 20px;
}

#anime-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.anime-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.anime-card:hover {
    transform: scale(1.05);
}

.anime-card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.anime-card h3 {
    font-size: 1.2rem;
    margin: 15px 0;
    color: #333;
}

.anime-card p {
    font-size: 0.95rem;
    color: #666;
    margin-bottom: 10px;
}

/* Estrellas para calificación */
.stars {
    color: #f39c12;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

/* Paginación */
#pagination {
    text-align: center;
    margin-top: 30px;
}

#load-more {
    background-color: #ff6600;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#load-more:hover {
    background-color: #e65c00;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #1E1F28;
    color: white;
    font-size: 0.9rem;
}
